#board{
  
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}
.cell{
  background-color: bisque;
  border: black 2px solid;
  text-align:center;
  
}
#game{
  padding-left: 10%;
  background-color: honeydew;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cell:hover{
  background-color: green;
}
.checked{
  background-color: bisque;
  border: black 2px solid;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 90px;
  
}
.checked:hover{
  background-color: red;
}
button{
  border-radius: 8%;
  background-color:bisque ;
}
button:hover{
  background-color: yellow;

}
.scores{
  display: flex;
  padding-right: 20px;
  width: 20vw;
}
.column{
  text-align: center;
  border:solid black 1px;
  width: 50%;

}
.column>h2{
  color:red
}