#board{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}
.cell{
  cursor: pointer;
  background-color: honeydew;
  border: black 2px solid;
  text-align:center;
  
}
#game{
  opacity: 0.7;
  padding-top: 21vh;
  padding-right:5% ;
  height: 80vh;
  display: flex;
  justify-content: space-between;
}
.cell:hover{
  background-color: green;
}
.checked{
  cursor: not-allowed;
  background-color: honeydew;
  border: black 2px solid;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 90px;
  
}
.checked:hover{
  background-color: red;
}
button{
  border-radius: 8%;
  background-color: honeydew;
}
button:hover{
  background-color: yellow;

}
.scores{
  padding-left: 1%;
  float: left;
  display: flex;
  padding-right: 20px;
  width: 40vw;
  padding-top: 21vh;
}
.column{
  opacity: 0.7;
  background-color: honeydew;
  text-align: center;
  border:solid black 1px;
  width: 50%;

}
.column>h2{
  color:red
  
}
ul{
  list-style: none;
  text-align: left;
}
li{
  padding-bottom: 16px;
}
.list{
  padding-bottom: 36px;

}

@media screen and (max-width: 725px){
  .scores{
    
    padding-left: 5%;
    width: 90vw;
    bottom: 0;
    position: relative;
    z-index: 10;
    
  }
  #board{
    padding-left: 5px;

  }
  #game{
    padding-top: 5%;

    padding-left: 5%;
    flex-direction: column;
    justify-content: start;
    align-items: center;

  }
  
}