header{
    position: fixed;
    width: 100vw;
    z-index: 11;
    top:0;
    background-color: black;
    height: 20vh;
    display: flex;
    margin-top:0;
    justify-content: space-around;
    align-items: center;
}
h2{
    color:white
}